<section class="product-list">
  <% @products.each do |product| %>

   <div class="product">
     <figure>
       <%= image_tag product.cover_src %>
     </figure>
     <div class="info">
       <div class="title"><%= product.title %></div>
       <div class="price">$<%= product.price %></div>
     </div>
     <div class="action">
       <%= link_to "加到購物車", add_cart_path(product.id), method: 'post' %>
     </div>
   </div>

  <% end %>
</section>

<%= paginate @products %>
